workflows/Mganik asset upload.json
{
  "active": true,
  "connections": {
    "Cloudinary Upload": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GithubVars": {
      "main": [
        [
          {
            "node": "Cloudinary Download Webp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Download Webp": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "GithubVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Cloudinary Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-05T02:21:09.596Z",
  "id": "MBJFWmW6jY1Uqe6x",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mganik asset upload",
  "nodes": [
    {
      "parameters": {
        "content": "## Upload Asset to mGanik Assets \n** always create new file",
        "height": 260.8799605063115,
        "width": 410.3633583305377
      },
      "id": "9f23a0f6-7166-4dec-a0f0-03474c48e2e2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        160
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"github-repo-owner\": \"mganik-dss\",\n  \"github-repo-name\": \"mganik-assets\",\n  \"github-branch-name\": \"main\"\n}\n",
        "options": {}
      },
      "id": "bd10535d-a998-47a0-a1fa-a457a04a38ff",
      "name": "GithubVars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1820,
        260
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"GithubVars\"].json[\"github-repo-owner\"]}}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"GithubVars\"].json[\"github-repo-name\"]}}",
          "mode": ""
        },
        "filePath": "=img/{{ $('Code').item.json.file_name }}",
        "binaryData": true,
        "commitMessage": "=[n8n Bot] img/{{ $('Code').item.json.file_name }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{$node[\"GithubVars\"].json[\"github-branch-name\"]}}"
          }
        }
      },
      "id": "3de77718-e1c7-4333-ae5f-c8f478fff67b",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        -1380,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "E7bouk80WqUWI5Ml",
          "name": "azraelx23 mganik - GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/mganik-test-cloud/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "mganik-webp"
            },
            {
              "name": "api_key",
              "value": "445979493216792"
            }
          ]
        },
        "options": {}
      },
      "id": "459113b7-05ab-431e-9c14-99bb08893fdc",
      "name": "Cloudinary Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2200,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Cloudinary Upload').item.json.secure_url }}",
        "options": {}
      },
      "id": "e40b4090-a5d1-415f-8fde-25b752c96e64",
      "name": "Cloudinary Download Webp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1640,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "var getFileName = function (str) {\n    return str.split('\\\\').pop().split('/').pop();\n}\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.file_name = getFileName(item.json.url);\n}\n\nreturn $input.all();"
      },
      "id": "df2f6367-9096-4dce-9035-c6cbbf6a9310",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"cloudinary_url\": \"{{ $('Code').item.json.secure_url }}\",\n  \"cloudflare_pages_url\": \"https://mganik-assets.pages.dev/img/{{ $('Code').item.json.file_name }}\"\n}  ",
        "options": {}
      },
      "id": "882ff5bb-d7fc-4e30-aac0-5c292e3f83b0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -940,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fbc0eb4a-f549-4b57-adbb-b50b11893182",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -940,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asset-upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "b0dcebae-eb1b-4b22-affc-917bd9f6bf34",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2440,
        260
      ],
      "webhookId": "a40822fc-ade4-4382-88f1-3d6989b892cb"
    },
    {
      "parameters": {
        "content": "## Upload to cloudinary, reformat image to WebP",
        "height": 336.4319485959734,
        "width": 239.02224248434004
      },
      "id": "0cc985f0-06df-485b-9ddb-b7a0adf592a7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2260,
        100
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-06-21T02:41:48.000Z",
  "versionId": "be935f82-9f77-4a7e-adb9-51984c0fa211"
}