workflows/Mganik asset upload.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "GithubVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GithubVars": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [],
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        []
      ]
    },
    "Variables": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-06-05T02:21:09.596Z",
  "id": "MBJFWmW6jY1Uqe6x",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mganik asset upload",
  "nodes": [
    {
      "parameters": {},
      "id": "1582c392-c406-48cc-ad8b-693e5c453b63",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2500,
        260
      ]
    },
    {
      "parameters": {
        "content": "## Upload Asset to mGanik Assets \n**if create new file errors out, then try edit",
        "height": 441.665074863717,
        "width": 583.0536168211937
      },
      "id": "9f23a0f6-7166-4dec-a0f0-03474c48e2e2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        180
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"github-repo-owner\": \"azraelx23\",\n  \"github-repo-name\": \"mganik-assets\",\n  \"github-branch-name\": \"main\"\n}\n",
        "options": {}
      },
      "id": "bd10535d-a998-47a0-a1fa-a457a04a38ff",
      "name": "GithubVars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2280,
        260
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"GithubVars\"].json[\"github-repo-owner\"]}}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"GithubVars\"].json[\"github-repo-name\"]}}",
          "mode": ""
        },
        "filePath": "=lps/{{$node[\"Variables\"].json[\"landing_page_slug\"]}}/index.html",
        "fileContent": "={{ $json.text }}",
        "commitMessage": "=[n8n Bot] lps/{{$node[\"Variables\"].json[\"landing_page_slug\"]}}/index.html",
        "additionalParameters": {
          "branch": {
            "branch": "={{$node[\"GithubVars\"].json[\"github-branch-name\"]}}"
          }
        }
      },
      "id": "3de77718-e1c7-4333-ae5f-c8f478fff67b",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        -1360,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "E7bouk80WqUWI5Ml",
          "name": "azraelx23 mganik - GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"GithubVars\"].json[\"github-repo-owner\"]}}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"GithubVars\"].json[\"github-repo-name\"]}}",
          "mode": ""
        },
        "filePath": "=lps/{{$node[\"Variables\"].json[\"landing_page_slug\"]}}/index.html",
        "fileContent": "={{ $json.text }}",
        "commitMessage": "=[n8n Bot] lps/{{$node[\"Variables\"].json[\"landing_page_slug\"]}}/index.html",
        "additionalParameters": {
          "branch": {
            "branch": "={{$node[\"GithubVars\"].json[\"github-branch-name\"]}}"
          }
        }
      },
      "id": "82961e3e-6b5d-4416-866f-4290b092a94c",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        -1220,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "E7bouk80WqUWI5Ml",
          "name": "azraelx23 mganik - GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"landing_page_slug\": \"lp2-metafiber\",\n  \"landing_page_title\": \"LP2 Metafiber Mike Landing Test Page\", \n  \"gtm_id\": \"GTM-TM6TWW9\", \n  \"cloudflare_web_analytics_token\": \"2094c7d795834fbcb226db0ac1166a52\",\n  \"sections\": [\n    {\n      \"is_hidden\": false,\n      \"type\": \"image\",\n      \"file_url\": \"https://mganik-lp-templates.pages.dev/samples/section-1.webp\",\n      \"name\": \"section-1.webp\"\n    },\n     {\n      \"is_hidden\": false,\n      \"type\": \"carousel\",\n      \"images\" : [\n        {\n          \"file_url\": \"https://mganik-lp-templates.pages.dev/samples/testimonial-1.png\",\n          \"name\": \"testimonial-1.png\"\n        },\n        {\n          \"file_url\": \"https://mganik-lp-templates.pages.dev/samples/testimonial-2.png\",\n          \"name\": \"testimonial-2.png\"\n        },\n        {\n          \"file_url\": \"https://mganik-lp-templates.pages.dev/samples/testimonial-3.png\",\n          \"name\": \"testimonial-3.png\"\n        }\n      ]\n      \n    },\n     {\n      \"is_hidden\": true,\n      \"type\": \"image\",\n      \"file_url\": \"https://mganik-lp-templates.pages.dev/samples/3peptide-product-reveal.png\",\n      \"name\": \"section-2.png\"\n    },\n     {\n      \"is_hidden\": true,\n      \"type\": \"image\",\n      \"file_url\": \"https://mganik-lp-templates.pages.dev/samples/3peptide-tensi.webp\",\n      \"name\": \"section-3.webp\"\n    },\n    {\n      \"is_hidden\": false,\n      \"type\": \"youtube\",\n      \"youtube_id\": \"XzJsKMgNlik\",\n      \"name\": \"Mganik Care Video\",\n      \"description\": \"*Hasil bervariasi tergantung individu\"\n    },\n     {\n      \"is_hidden\": false,\n      \"type\": \"cta_button\",\n      \"button_image_url\": \"https://mganik-lp-templates.pages.dev/assets/img/button-pusat_png.png\",\n      \"button_image_name\": \"button-pusat_png.png\",\n      \"button_link\": \"https://api.whatsapp.com/send?phone=6281584021443&amp;text=Halo%20saya%20dapat%20iklan%20dari%20Sosmed.%20Mau%20order%20%2A3PEPTIDE%2A%2C%20apakah%20bisa%20dibantu%3F\"\n     },\n    {\n      \"is_hidden\": false,\n      \"type\": \"official_marketplaces\",\n      \"tokopedia_shop_name\": \"mganikofficialshop\",\n      \"tokopedia_product_slug\": \"mganik-3peptide-suplemen-jantung-kardiovaskular-apel-manggis-330gr-1-tub-m3p\",\n      \"tokopedia_ext_param\": \"whid%3D10844458%26src%3Dshop?utm_source=facebook&amp;utm_medium=brand&amp;utm_campaign=mganik_10224_290224\",\n      \"shopee_shop_name\": \"mganikofficialshop\",\n      \"shopee_category_id\": 100001,\n      \"shopee_item_id\": 13901577427,\n      \"shopee_ext_param\": \"entryPoint=ShopByPDP&amp;upstream=search&amp;deep_and_web=1&amp;utm_campaign=s341419753_ss_id_webs_mganik&amp;utm_source=website&amp;utm_medium=seller&amp;utm_content=utmlp&amp;smtt=9\",\n      \"tiktok_shop_name\": \"mganikofficial\",\n      \"tiktok_t\" : \"8kOIywd58nE\"\n     },\n    {\n      \"is_hidden\": false,\n      \"type\": \"orderonline\",\n      \"orderonline_username\" : \"mganikcare\",\n      \"orderonline_product_slug\" : \"HbA1C\",\n      \"orderonline_product_id\" : \"65af732825ac3f206600239e\",\n      \"orderonline_form_id\" : \"oo-embed-form-HbA1C-2916\",\n      \"orderonline_form_title\" : \"Form Pemesanan\",\n      \"orderonline_setup_redirect\" : \"https://mganikcare.orderonline.id\",\n      \"orderonline_init_arg1\" : \"65a6570909a670d19709af04\",\n      \"orderonline_init_arg3\" : \"65af732825ac3f206600239f\",\n      \"orderonline_button_action_text\" : \"Klik untuk pemesanan\"\n      \n    },\n    {\n      \"is_hidden\": false,\n      \"type\": \"global_block\",\n      \"global_block_slug\": \"mganik-cari-agen\",\n      \"global_block_onload_function\":\"getDistributors('mganik')\"\n    },\n    {\n      \"is_hidden\": false,\n      \"type\": \"global_block\",\n      \"global_block_slug\": \"mganik-scientific-references\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "c8e79af3-cdb0-4445-97b8-68a562ea2ea9",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2120,
        260
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-06-05T03:42:45.000Z",
  "versionId": "d7ed961c-d0c4-410d-864b-14df190603d8"
}